
<p>Here are some items you can get started to shop:</p>
    
<p class="sub-title">Hello! shopper.{{content}}</p>
<hr>
<nb-card size="small">
  <nb-list>
    <nb-list-item *ngFor="let user of items">
      <nb-user class="placeRight" [name]="user.name" [title]="user.desc"> 
      </nb-user><div class="placeRight" style="margin-left: 40px;" >£{{user.price}}</div><button *ngIf="isLoggedIn" class="placeRight" style="margin-left: 60%; background-color:green" status="primary" (click)="addToCart()">Add to cart</button>
    </nb-list-item>
  </nb-list>
</nb-card>